@media (max-width: 767px) {

    .header__title{
        font-size: 32px;
        padding-left: 16px;
        text-align: center;
    }

    .header__subtitle{
        font-size: 14px;
        line-height: 22px;
        padding-left: 16px;
        padding-right: 16px;
        text-align: center;
    }

    .header__button{
        display: block;
        margin: auto;
    }

    .games__link{
        padding-top: 1px;
    }

    .item1{
        width: 349px;
        border-radius: 16px;
    }
    
    .item2{
        width: 349px;
        border-radius: 16px;
    }
    
    .item3{
        width: 349px;
        border-radius: 16px;
    }

    .gemes{
        height: 100%;
        width: 100%;
    }

    .game__title{
        color: #FFF;
        font-size: 32px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        text-align: center;
    }

    .game__subtitle{
        color: #FFF;
        font-size: 14px;
        font-style: normal;
        font-weight: 300;
        line-height: 22px;
        text-align: center;
    }

    .game__img{
        width: 344px;
        height: 231px;
        padding-left: 15px;
        padding-right: 15px;
    }
    
}