* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
}

.center {
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
}

.header {
  height: 1024px;
  background-image: url(background.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.header__top {
  padding-top: 217.1px;
}

.header__title {
  color: #FFF;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.header__subtitle {
  color: #FFF;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 32px;
}

.header__subtitle {
  padding-top: 32px;
  padding-bottom: 44px;
}

.text {
  color: #FFF;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
}

.header__button {
  width: 234px;
  height: 48px;
  border-radius: 30px;
  background: #9C0332;
  color: #FFF;
  border-color: transparent;
}
.header__button:hover {
  cursor: url(cursor.svg), auto;
  background: #EB443F;
}

.button-text {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border-color: transparent;
}

.games {
  background: #000915;
  position: relative;
  background-image: url(Rectangle\ 5.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.games__link {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 32px;
  padding-top: 128px;
}

.games__item {
  display: flex;
  flex-direction: column-reverse;
  text-decoration: none;
  border-color: transparent;
}

.item1 {
  width: 379px;
  height: 300px;
  background-image: url(game1.jpg);
  border-radius: 20px;
  background-repeat: no-repeat;
}
.item1:hover {
  border: 3px solid #44D2FF;
  cursor: url(cursor.svg), auto;
}

.item2 {
  width: 379px;
  height: 300px;
  background-image: url(game2.jpg);
  border-radius: 20px;
  background-repeat: no-repeat;
}
.item2:hover {
  border: 3px solid #44D2FF;
  cursor: url(cursor.svg), auto;
}

.item3 {
  width: 379px;
  height: 300px;
  background-image: url(game3.jpg);
  border-radius: 20px;
  background-repeat: no-repeat;
}
.item3:hover {
  border: 3px solid #44D2FF;
  cursor: url(cursor.svg), auto;
}

.game {
  padding-bottom: 32px;
  padding-left: 32px;
  color: #FFF;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
}

.game__img {
  width: 485px;
  height: 333px;
}

.game__info {
  height: 800px;
  background-image: url(gameFon.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.game__info {
  padding-top: 410px;
}

.game__title {
  color: #FFF;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  font-size: 48px;
}

.game__subtitle {
  color: #FFF;
  font-style: normal;
  font-weight: 300;
  line-height: 32px;
  font-size: 18px;
}

.game__info {
  display: flex;
  flex-wrap: wrap;
}

.game__start {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 32px;
}

.game__start-new {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 32px;
}

.game__words {
  height: 800px;
  background-image: url(gameFon.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.game__words {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  gap: 130px;
}

@media (max-width: 767px) {
  .header__title {
    font-size: 32px;
    padding-left: 16px;
    text-align: center;
  }
  .header__subtitle {
    font-size: 14px;
    line-height: 22px;
    padding-left: 16px;
    padding-right: 16px;
    text-align: center;
  }
  .header__button {
    display: block;
    margin: auto;
  }
  .games__link {
    padding-top: 1px;
  }
  .item1 {
    width: 349px;
    border-radius: 16px;
  }
  .item2 {
    width: 349px;
    border-radius: 16px;
  }
  .item3 {
    width: 349px;
    border-radius: 16px;
  }
  .gemes {
    height: 100%;
    width: 100%;
  }
  .game__title {
    color: #FFF;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center;
  }
  .game__subtitle {
    color: #FFF;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 22px;
    text-align: center;
  }
  .game__img {
    width: 375px;
  }
}/*# sourceMappingURL=style.css.map */